---
import Layout from '../layouts/Layout.astro';
import ImageList from '../components/ImageList.astro';

const title = 'Daily Chinese classical poetry and lyrics.';
const subTitle = 'Daily Chinese classical poetry and lyrics, generating AI images Powered by Bing DALL-E-3.';

---

<Layout title={title}>
  <div class="flex justify-center mt-12 text-xl px-5">
    {subTitle}
  </div>
	<ImageList />
</Layout>
